.full-domain-protection{
    margin: 20px;
    margin-left: 80px;
}
.continue-cart-2{
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color:  #E5E5E5; */
    padding: 50px;
}