body{
    scroll-behavior: smooth;
}
.search-container{
    background: linear-gradient(45deg, #FFE8B6, #8DFDFF);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    min-height: 500px;
    justify-content: center;
}
.search-box{
    width: 100%;
    padding: 0px 10px;
    height: 50px;
    border: none;
    outline: none;
}
.search-btn{
    width: 100px;
    background-color: #000e9c;
    color: white;
    border: none;
    font-size: 22px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    font-family: roboto condensed;
    height: 56px;
}


.search-box::-webkit-input-placeholder {
    font-size: 20px;
}

.below-search{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 450px;
    padding-top: 20px;
    max-width: 80%;
}

.below-search div{
    font-weight: 700;
    width: 57px;
    padding:5px 15px;
    /* margin: 5px 0; */
}

.below-search-content
{
    border-right: 1px solid rgb(57, 57, 251);
}

.more-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}
.home-page-images{
    width: 90%;
    height: 400px;
    object-fit: cover;
    text-align: center;
}

.web-hosting-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
}

@media only screen and (max-width: 500px) {
.below-search div{
    border: 1px solid blue;
}
.below-search-content{
    border: none;
}
}