body{
    scroll-behavior: smooth;
}
.search-container{
    background: linear-gradient(to right, #1642c6 ,#1642C6,  #0B2163);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    min-height: 500px;
    justify-content: center;
    color: white;
}
.search-box{
    width: 100%;
    padding: 0px 10px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
}
.search-btn{
    width: 200px;
    background-color: #05CC19;
    color: white;
    border: none;
    font-size: 22px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    font-family: roboto condensed;
    height: 50px;
    border-radius: 30px;
    margin-left: -50%;
}


.search-box::-webkit-input-placeholder {
    font-size: 20px;
}

.below-search{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 450px;
    padding-top: 20px;
    max-width: 80%;
}

.below-search div{
    font-weight: 700;
    width: 57px;
    padding:5px 15px;
    /* margin: 5px 0; */
}

.below-search-content
{
    border-right: 1px solid rgb(57, 57, 251);
}

.more-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}
.home-page-images{
    width: 90%;
    height: 400px;
    object-fit: cover;
    text-align: center;
    margin: auto;
}

.web-hosting-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
}

.connectwithmember{
    background-color: #1642C6;
    color: white;
    padding: 24px;
}

.connectwithmember-card{
    padding: 10px;
}

@media only screen and (max-width: 500px) {
.below-search div{
    border: 1px solid blue;
}
.below-search-content{
    border: none;
}
}