.offers-card{
    /* padding: 20px 40px; */
    margin: 10px;
    min-width: fit-content;
    text-align: center;
}

.add-to-cart{
    border-radius: 30px !important;
    width: 100%;
}

.offers-content{
    text-align: left;
    padding: 15px 0;
    line-height: 10px;
}
.offers-content h3{
    line-height: 30px;
}

.text-with-background{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
