.hosting-order{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}
.hosting-order .vertical-list{
    width: fit-content !important;
}
.dropdown-hosting{
    background-color: white;
    width: 60px;
    padding: 10px;
    border-radius: 5px;
}