.testimonials-hosting{
    background-color: #1642c6;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}
.container-hosting{
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-vector{
    max-width: 100px;
    height: 100px;
    margin-bottom: 10px;
    object-fit: contain;
}
.man-sitting{
    width: 500px;
    max-width: 100%;
}