.testimonials-hosting{
    background-color: rgb(212, 212, 212);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}
.container-hosting{
    width: 250px;
    margin: 20px;
}
.img-vector{
    max-width: 100px;
    max-height: 100px;
}
.man-sitting{
    width: 500px;
    max-width: 100%;
}