.gsuite-order{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}
.hosting-order .vertical-list{
    width: fit-content !important;
}
.dropdown-hosting{
    background-color: white;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
}
.gsuit .hosting-container-1 {
    background-color: white;
    background-image: none;
}